@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #ffffff;
  
}

.navbar h1 {
  color: #00FFFF;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ffffff;
}

.navbar a:hover {
  color: #00FFFF;
}

.content {
  max-width: 60%;
  margin: 20px auto;
  padding: 10px;
}