@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: #000000;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #ffffff;
}

.navbar h1 {
  color: #1f7263;
}


.navbar .title-link {
  margin-left: 0;
  padding: 0;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #000000;
}

.navbar a:hover {
  color: #1f7263;
}


.content {
  max-width: 60%;
  margin: 20px auto;
  padding: 10px;
}

/* For blogs preview */
.blog-preview {
  padding: 10px 10px;
  margin: 15px 0;
  background-color: #509b8d;
  border-bottom: 1px solid #000000;
}

.blog-preview:hover {
  box-shadow: 5px 5px 5px #064444;
}

.blog-preview p {
  float: right;
  font-size: 15px;
}

.blog-preview h3 {  
  color: #21ecc7;
}

.blog-preview h3, .blog-preview p {
  display: inline-block;
}

.blog-preview button {
  display: block;
  margin-top: 10px;
}

.error {
  color: #FF0000;
}


/* Blog details */
.blog-details h3 {
  font-size: 20px;
  color: #1f7263;
  margin-bottom: 5px;
}

.blog-details cite {
  font-size: 15px;
}

.blog-details divn {
  text-indent: 15px;
  margin: 10px 0;
}

.blog-details button {
  background: #509b8d;
  color: #21ecc7;
  border: 0;
  padding: 8px;
  margin-top: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Create blog form */
.create-blog {
  margin: 0 auto;
  display: block;
}

.create-blog label {
  text-align: left;
  display: block;
}

.create-blog h2 {
  margin-bottom: 15px;
}

.create-blog input, .create-blog textarea, .create-blog select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create-blog textarea {
  height: 10em;
}

.create-blog button {
  background: #509b8d;
  color: #21ecc7;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}